body{
    margin: 0;
}
.pagina{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: green;
}


.tot{
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    height: 60vh;
}

.TV {
    height: 40vh;
    background-color: black ;
    color: white;
    
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    p{
        font-size: 1vh;
    }
}
.cinema{
    width: 60vw;
    height: 100%;
    border: 1vh solid brown;
    padding: 0 2vh;
}

.sala{
    height: 100%;
    background-color: #FCDC2A;
  /*  display: grid;
    grid-template-columns: repeat(10, 1fr);
    */
    padding: 0 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    
    transform-style: preserve-3d;
    animation: perceptionChange 4s ease-in forwards ;
    height: 60vh;
    width: 60vw;
   
    
}

@keyframes perceptionChange {
    0% {
        perspective: 150px; /* Start with perspective at 0px */
        
    }
    100% {
        perspective: 2500px; /* End with perspective at 2500px */
        
    }
}

.itemTotal{
    padding: 1vh 0;
}
.subtotal{
    width: 30vw;
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-color: #fcdc2a;
    height: 60vh;
    button{
        padding: 1vh;
        background-color: #FCDC2A;
    }
    height: 50vh;
    span {
        padding: 0 1vh ;
    }
}

.subtotal::-webkit-scrollbar{
    background-color: green;
}
.subtotal::-webkit-scrollbar-thumb{
    background-color: #FCDC2A;
    width: 0.5vh;
    border-radius: 1vh;
    z-index: 2;
}
.submitSelection{
    
   width: 90%;
   padding: 0 5%;
}

.state-zero{
    color: black;
    font-size: 3vh;
    height: 5vh;
    width: 5vh;
    background-color: green;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    border-radius: 50% 50% 0 0 ;
    transform-origin: 49% 49%;
    transform: rotateX(-57deg) rotateY(-5deg) translateY(-52px);
    
    box-shadow: rgb(0, 0, 0) 0px 34px 30px -10px;
  
}
.state-zero:hover{
    background-color: #F7F6BB;
   
    cursor: pointer;
    scale: 1.9;
    border: 0.5vh solid green;
    span{
        transform: translateY(-60px);
        text-shadow: 0px 0px 3px rgba(252, 220, 32, 1);
        color: black;
        font-weight: 700;
    }
}
.state-zero.selected{
    background-color: #F7F6BB;
    pointer-events: none;
}
