.cartonas {
   background-color: black;
   width: 18vw;
   aspect-ratio: 1/1;
   height: auto;
   box-shadow: rgba(247, 246, 187, 0.2) 0px 7px 29px 0px;
   border-radius: 5%;
   color: #F7F6BB;
   background-color: #87A922;
}

.container-cartonase {
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #114232;
    gap: 2vw;
    padding: 2vw;
    overflow-y:scroll;
    overflow-x: hidden;
   
}

.imagine{
    width:100%;
    height: 25rem;
    border-radius: 5% 5% 0 0;  
} 


.text-box {
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

