input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
    background-color: #F7F6BB !important;
    color: #114232 !important; 
    -webkit-box-shadow: 0 0 0 30px #F7F6BB inset !important;
}

body{
    font-family: "Montserrat", sans-serif;
}

.container-Login{
    background-color: #114232;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.register-container{
    background-color: #87A922;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 2.5rem;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    color: #FCDC2A;
    font-size: 1.3rem;
    font-weight: 900;
    text-shadow: 2px 4px 5px #887a29;
}

.register-form > input{
    width: 30rem;
    border-radius: 2rem;
    padding: .5rem;
    border: none;
    background-color: #F7F6BB;
    color: #114232;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 4px 5px 1px #8f8e6b;
}

.register-form > input:focus{
    outline: none;
}

.button{
    background-color: #114232;
    color: #F7F6BB;
    box-shadow: 2px 3px 4px 1px #0b2b20;
    border-radius: 1rem;
    border: none;
    margin-top: 1.5rem;
}

.button:hover{
    background-color: #FCDC2A;
    color: #114232;
    box-shadow: 2px 3px 4px 1px #a38f1b;
}

.button:focus{
    outline: none;}

.scris-button{
    color: #114232;
    font-weight: 500;
    text-decoration: underline;
    font-size: 1rem;
    text-shadow: none;
}

.scris-button:hover{
    cursor: pointer;
    color: #FCDC2A;
}

.atentionare{
    position: absolute;
    background-color: red;
    color: black;
}