.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2vh;
    background-color: #114232;
}

.container{
    background-color: #114232;
}

.search-bar{
    margin-top: 2rem;
}

.button{
    background-color: #114232;
    color: #F7F6BB;
    box-shadow: 2px 3px 4px 1px #0b2b20;
    border-radius: 1rem;
    border: none;
    margin-top: 1.5rem;
}

.button:hover{
    background-color: #FCDC2A;
    color: #114232;
    box-shadow: 2px 3px 4px 1px #a38f1b;
}

.button:focus{
    outline: none;}

#buton-login{
    position:absolute;
    top: 2rem;
    right: 2rem;
    background-color: #87A922;
    color: #FCDC2A;
    box-shadow: 2px 3px 4px 1px #576d16;
    border-radius: 1rem;
    border: none;
}

#buton-login:hover{
    background-color: #FCDC2A;
    color: #114232;
    box-shadow: 2px 3px 4px 1px #a38f1b;
}
